<div class="container">
    <div class="inner"> 
        <div class="left">
            <div class="img-movil">
                    <img src="../../../assets/images/Illustration.svg" alt="Content" class="pos1" >
            </div>
            <div class="img-desktop">
                    <img src="../../../assets/images/Illustration.png" alt="Content" class="pos1" >
            </div>
            
        </div>
        <div class="right">
            <div class="banner-container">
                <p class="fuseheader"> <span>¡Te damos la bienvenida!</span> </p>
                <p class="fuse">Cuenta con nosotros para proteger tu vehículo </p>
                <p class="fuse light">Enviaremos la confirmación de compra de tu Plan Vehícular Tracking a tu correo:
                    joel.sanchez@gmail.com</p>
                <button type="button" type="submit" class="fuse fuseBottom btn btn-primary">
                    COMO USAR MI SEGURO
                </button>
            </div>
            
        </div>
        
    </div>

</div>
